*{
    list-style: none;
    margin:0px;
    padding: 0px;
    color: #000;
}

/*
1. index.html 사진 크기
2. 네모들 크기 210
*/

.header {
    height: 120px;
}

.nav {  
    height: 53px;
    margin-top: 33px;
    text-align: center;      
}

.nav>li {
    display: inline-block;
}

.nav>li:not(:first-child) {
    margin-left: 80px;
}

.nav>li>a {
    text-decoration: none;
}

.nav>li>a:hover {
    text-decoration: underline;
    text-decoration-color: black; 
    color: red;
}

.main_picture {
    width:100%;
}

.main_picture>img {
    max-width: 100%;
    height: 464px;
}

.icon_title {
    width: 100%;
    margin: 30px auto 30px auto;
    text-align: center;
    font-size: 10px;
}

.icon_title>span {
    font-size: 20px;
    font-weight: bold;
}

.icon_box {
    width: 1240px;
    margin:10px auto 10px auto;
}

.icon_box>li {
    float: left;
    text-align: center;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px dotted;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon_box>li>p {
    font-size: 14px;
    margin-bottom: 30px;
}

.chefs_background {
    clear: both;
    background: #ececec;
}

.chefs {
    width: 771px;
    height: 304px;    
    margin: auto;
}

.text2 {
    float: left;
    width: 500px;
    margin-top: 110px;
}

.chefs>li>h2 {
    font-weight: bold;
    text-decoration: underline;
    line-height: 180%;
}

.chefs>li>p {
    line-height: 150%;
}

.chefs_img {
    float: right;
}

.top {
    font-size: 14px;
    font-family:'Malgun Gothic';
    color: black;
    width: 1000px;
    height: 500px;
    margin: 30px auto 0px auto;
}

.chef_about {
    float: left;
    background-image:url("img/chef_about.png");
    width: 750px;
    height: 500px;
}

.right {
    float: right;
}

.right1 {
    background-image:url("img/right1.png");
    width: 250px;
    height: 250px;
    margin-right: 0px;
}

.right2 {
    background-image:url("img/right2.png");
    width: 250px;
    height: 250px;
}

.text_background {
    margin-top: 250px;
    width: 250px;
    height: 250px;
    background: green;
    opacity: 0.7;
    line-height: 170%;
}

.text {
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.global_business>h2 {
    font-size: 20px;
}

.explain {
    margin-top: 20px;
    height: 100px;
}

.box_all {
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    font-size: 14px;
    font-family:'Malgun Gothic';
    color: black;
}

.box {
    background: #695E50;
    width: 250px;
    height: 250px;
    float: left;
    margin: 0px 0px;
    line-height: 150%;  
}
 
.box>h2 {
    margin: 20px 15px 0px 15px;
}

.box>p {
    margin: 20px 15px;
}

.box_cover {
    width: 750px;
    height: 500px;
    margin: 0px 0px;
}

.box:nth-child(even) {
    background: #CD8550;
}

.beige {
    background: #D2B98A;
    width: 250px;
    height: 500px;
    float: right;
}

.footer {
    width: 1000px;
    margin: 10px auto 40px auto;
    font-size: 14px;
    font-family:'Malgun Gothic';
    color: black;
}

.f {
    float: left;
}

.divider {
    float: left;
    font-weight: bold;
    color: orange;
}

.footer>h6 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}